/* App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Arrière-plan animé */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-animated {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient-animation 15s ease infinite;
}

.logo {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animated-logo {
  animation: rotate 5s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.animated-text {
  animation: text-slide 3s infinite alternate ease-in-out;
}

@keyframes text-slide {
  from {
    transform: translateZ(0) scale(1);
  }
  to {
    transform: translateZ(30px) scale(1.2);
  }
}

.decorative-circle {
  position: absolute;
  top: -50px;
  left: -50px;
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  animation: moveCircle 10s infinite alternate ease-in-out;
  z-index: -1;
}

@keyframes moveCircle {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(50px, 50px);
  }
}

.border-box {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  animation: borderFade 3s infinite alternate ease-in-out;
  z-index: -1;
}

@keyframes borderFade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.config-server-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.menu-button {
  z-index: 10;
}

.app-nav {
  z-index: 5;
}

.transition-transform {
  transition: transform 0.3s ease-in-out;
}

.content {
  transition: opacity 0.3s ease-in-out;
}

.dashboard-container {
  padding: 20px;
}

.dashboard {
  padding: 20px;
  margin-top: 80px; /* Garde la marge supérieure */
  max-width: 2000px; /* Vous pouvez ajuster cette valeur selon vos besoins */
}

.dashboard h2 {
  text-align: center;
  color: #fff;
}

.dashboard-table {
  width: 100%;
  border-collapse: collapse;
  max-height: 800px; /* Définit la hauteur maximale du tableau */
  overflow-y: auto; /* Ajoute un défilement vertical si le contenu dépasse */
}

.dashboard-table th, .dashboard-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.dashboard-table th {
  background-color: #333;
  color: #fff;
}

/* Style des boutons */
/* Style des boutons */
button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

/* Ajout de l'animation pour le texte de la page Contact */


.contact-page h1, .contact-page p {
  animation: text-fade-in 2s ease-in-out;
}

@keyframes text-fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

